/* 
    Document   : login
    Created on : 1 лют 2013, 15:07:56
    Author     : Walkman
    Description:
        Purpose of the stylesheet follows.
*/
body {
    min-height: 620px;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #999999), color-stop(1, white));
    background: -moz-linear-gradient(bottom, white, #999999);
}
a {
    text-decoration: none;
}
#form {
    -moz-box-shadow:    -2px -2px 5px 3px #666666;
    -webkit-box-shadow: -2px -2px 5px 3px #666666;
    box-shadow:         -2px -2px 5px 3px #666666;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 0 auto;
    padding: 0 0;
    padding-top: 25px;
    margin-left: 130px;
    height: 250px;
    width: 450px;
   padding-left: 30px;
   padding-bottom: 10px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3b76b3), color-stop(1, #000066));
    background: -moz-linear-gradient(bottom, #000066, #3b76b3);
  
}
.error {
    color: #ff0000;
	font-size: 12pt;
}

